<div class="header">CATEGORIES ({{categories?.length}})</div>
<div class="contents">
  <div class="list">
    <div class="list-header">
      Add <button (click)="showAddForm()" class="btn btn-add"> + </button>
    </div>
    <div class="list-item" *ngFor="let category of categories">
      <div class="text-center">{{category.name}}</div>
      <div class="options">
        <i (click)="edit(category._id, category.name)" class="far fa-edit edit"></i>&nbsp;&nbsp;
        <i (click)="delete(category._id)" class="far fa-trash-alt delete"></i>
      </div>
    </div>
  </div>
  <div class="display">
    <div class="add-cat-form form">
      <h3 class="form-title">{{form.title}}</h3>
      <input name="name" placeholder="Enter a category name" [(ngModel)]="form.name" type="text"/>
      <div>
        <button [disabled]="sending" *ngIf="!editingCatId" (click)="save()" class="btn btn-send">
          <span *ngIf="!sending">Save</span>
          <span *ngIf="sending">Loading...</span>
        </button>
        <button [disabled]="sending" *ngIf="editingCatId" (click)="update(editingCatId)" class="btn btn-send">
          <span *ngIf="!sending">Update</span>
          <span *ngIf="sending">Loading...</span>
        </button>
      </div>
    </div>
  </div>
</div>